<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/plantillaUI}">

<head>
	<meta charset="UTF-8">
	<title>Lista de Pictogramas</title>
</head>

<body>
	<div layout:fragment="cargarpagina">
		<div class="card">
			<div class="card-header">
				<h6 class="card-title">Lista de Pictogramas</h6>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Categoria</th>
							<th>Acciones</th>

						</tr>

					</thead>

					<tbody>
						<tr th:each="picto: ${ListaP}">
							<td th:text="${picto.nombre}"></td>
							<td th:text="${picto.descripcion}"></td>
							<td th:text="${picto?.categoriaPictograma?.nombre}"></td-->

							<td><a th:href="@{/editarpictograma/}+ ${picto.idPictograma}" class="btn btn-outline-primary"><i
										class="fa fa-edit"></i></a>
								<a class="btn btn-outline-danger"
									onclick="return confirm('Esta seguro que desea eliminar el registro?')">
									<i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>

				</table>

			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.col -->
	</div>
	<!-- /.row -->
	</div>
	<!-- /.content-wrapper -->




	<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	</div>
</body>

</html>