<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/plantillaUI}">

<head>
<meta charset="UTF-8">
<title>Lista de Categorias Pictogramas</title>
</head>

<body>
	<div layout:fragment="cargarpagina">
		<br> <br>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-primary">Lista Categoria
					Pictogramas</h5>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>Id Categoria Pictograma</th>
								<th>Nombre</th>
								<th>Keyword</th>
								<th>Descripcion</th>
								<th>Acciones</th>
							</tr>

						</thead>

						<tbody>
							<tr th:each="cp: ${ListaCP}">
								<td th:text="${cp.IdCategoriaPictograma}"></td>
								<td th:text="${cp.nombre}"></td>
								<td th:text="${cp.nombreIngles}"></td>
								<td th:text="${cp.descripcion}"></td>
								<td><a
									th:href="@{/editarcategoriapictograma/}+ ${cp.idCategoriaPictograma}"
									class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>
									<a
									th:href="@{/eliminarcategoriapictograma/}+ ${cp.idCategoriaPictograma}"
									class="btn btn-outline-danger"
									onclick="return confirm('Esta seguro que desea eliminar el registro?')">
										<i class="fa fa-trash"></i>
								</a> <a th:href="@{'/vercategoriasdepictogramas/' + ${cp.nombreIngles}}"
									class="btn btn-outline-secondary"> <i class="fa fa-eye"></i>
								</a></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>

	</div>

</body>

</html>