<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Sistema FINESEC</title>
</head>
<body>

	<div>

	 	<h2 th:inline="text">
            <span th:if="${#authorization.expression('isAuthenticated()')}" th:remove="tag">Hola </span>
            <span th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.name}"></span>
            <span th:unless="${#authorization.expression('isAuthenticated')}">Bienvenido a FINESEC!</span>
        </h2>

		<div th:if="${#authorization.expression('isAuthenticated()')}">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>

		<div th:unless="${#authorization.expression('isAuthenticated')}">
			<form th:action="@{/login}" method="get">
				<button type="submit">Iniciar Sesión</button>
			</form>
		</div>

	</div>

</body>
</html>
